<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Template</title>
    <style>
        /* Styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Styling for the container */
        .container {
            max-width: 867px;
            padding: 30px;
            background: rgb(33, 89, 171);
            background: linear-gradient(180deg, rgba(33, 89, 171, 1) 15%, rgba(255, 255, 255, 1) 15%);
            margin: auto;
        }

        /* Styling for the inner content */
        .content {
            margin: auto;
            max-width: 600px;
            padding: 40px;
            gap: 48px;
            background: #FAFAFA;
        }

        /* Styling for the list */
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-left: 16px;
        }

        li {
            font-size: 18px;
            font-weight: 500;
            color: #292929;
            margin-bottom: 2px;
            font-style: normal;
            font-weight: 500;
        }
    </style>
</head>
<body style="margin: 0">


<div class="container">
    <div class="content">


        <div style="border-left:1px solid #CCCCCC; text-align: center; margin-bottom: 40px;">
            <ul>
                <li style="font-size: 1.9rem; font-weight: 700; color: red">अभिषेक प्राइभेट लिमिटेड</li>
                <li style="font-size: 0.8rem; font-weight: 700;">१२३४ उदाहरण स्ट्रीट, काठमाडौं, नेपाल</li>
            </ul>
        </div>
        <hr>
        This is the list of employee that are currently enrolled in Abhishek Organisation.

        <table style="font-size: 0.8rem; margin-top: 50px;">
            <tbody>
            <tr>
                <thead style="border-bottom: solid black 2px;">
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Phone Number</td>
                </thead>
            </tr>

            <tr th:each="employee: ${employees}" style="margin-top: 40px; border-bottom: solid black 2px;">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.phoneNumber}"></td>
            </tr>


            </tbody>
        </table>
        <div style="font-weight:500;margin-top:1rem;">
            Remarks: Thank you for choosing us.
        </div>

        <div style="font-weight:500;margin-bottom:1rem;margin-top:1rem;">
            Best regards,<br>
            अभिषेक प्राइभेट लिमिटेड<br>
            १२३४ उदाहरण स्ट्रीट<br>
            काठमाडौं, नेपाल<br>
        </div>
        <div style="font-weight:300;margin-bottom:1rem;color:#CE6B00; background-color: #FBBC04;">
            <div style="padding:15px; color:#000000;">
                यो इमेल सिस्टमबाट स्वत पठाईएको हो, यस इमेलमा कुनै प्रकारका जवाफ नदिनुहोला।
                </br>
                THIS MESSAGE IS SYSTEM GENERATED, PLEASE DO NOT REPLY TO THIS EMAIL.
            </div>
        </div>


    </div>
</div>

</body>
</html>
